<template>
  <div class="row text-center">
    <div class="col-md d-flex justify-content-center px-5 row">
      <div class="col-6">
        <Picture src="lillydoo-little-blowballs-design-preview-tp.png" />
      </div>
      <div class="text-left col-6">
        <h4>10 Lillydoo Windeln</h4>
        <ul>
          <li>0 % Parfüme &amp; Lotionen, 100 % LILLYDOO Schutz</li>
          <li>Extra weich und super bequem</li>
          <li>
            Mit unseren Turbo Tunneln für eine ideale Passform und schnelle
            Absorption
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md d-flex justify-content-center px-5 row">
      <div class="px-2 text-left col-6">
        <Picture
          :src="
            wipes === 'water'
              ? 'water-wipes-15-small.png'
              : 'sensitive-wipes-15-small.jpg'
          "
        />
      </div>
      <div v-if="wipes === 'water'" class="text-left col-6">
        <h4>15 Feuchttücher mit 99 % Wasser</h4>
        <ul>
          <li>0 % Parfüme &amp; PEGs, 100 % biologisch abbaubar</li>
          <li>
            Natürlich rein, extra mild, Alternative zu "Wasser &amp; Watte"
          </li>
        </ul>
      </div>
      <div v-else class="text-left col-6">
        <h4>15 sensitive Feuchttücher</h4>
        <ul>
          <li>0 % Parfüme &amp; PEGs, 100 % biologisch abbaubar</li>
          <li>Extra dickes und kompostierbares Tuch</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Picture from "./Image.vue";
export default {
  props: {
    wipes: String
  },
  methods: {},
  components: {
    Picture
  }
};
</script>
