<template>
  <div v-if="products.length" class="buttonContainer">
    <template v-for="(product, index) in products">
      <Button
        :isActive="activeIndex === index ? true : false"
        :key="product.name"
        :text="product.size"
        :subtext="product.weight"
        :onClick="setActiveProduct"
        v-bind:productId="index"
      />
    </template>
  </div>
</template>

<script>
import Button from "./Button.vue";

export default {
  props: {
    products: Array,
    setActiveProduct: Function,
    activeIndex: Number
  },
  components: {
    Button
  }
};
</script>

<style lang="scss" scope>
.buttonContainer {
  list-style: none;
  margin: 0;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  div {
    width: 30%;
  }
}

@include media-breakpoint-down(md) {
  .buttonContainer {
    justify-content: initial;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
</style>
