<template>
  <div :class="getStyle()" v-on:click="onClick(productId)">
    <p>{{ text }}</p>
    <span v-if="subtext">{{ subtext }}</span>
  </div>
</template>

<script>
export default {
  props: {
    onClick: Function,
    productId: Number,
    text: String,
    subtext: String,
    isActive: Boolean,
    invert: Boolean,
    extraClass: String
  },
  methods: {
    getStyle: function() {
      const className = `button ${this.isActive ? "active" : ""} ${
        this.invert ? "invert" : ""
      } ${this.extraClass}`;

      return className;
    }
  }
};
</script>

<style lang="scss" scoped>
$button-color: #7c7c7c;
$background-color: #00afab;
$invert-hover-color: #99dfdd;

.button {
  cursor: pointer;
  border: 1px solid $button-color;
  text-align: center;
  min-height: 45px;
  padding: 7px 5px 2px 5px;
  color: $button-color;
  margin-right: 10px;
  margin-bottom: 10px;
  &.invert {
    background-color: $background-color;
    border: 0px solid $button-color;
    text-align: center;
    color: white;
    &:hover {
      background-color: $invert-hover-color;
    }
  }
}

.active,
.button:hover {
  background-color: $background-color;
  color: white;
}

p {
  font-size: 1.3rem;
  text-transform: uppercase;

  margin: 0;
}
span {
  line-height: 1;
  font-size: 0.8rem;
}
</style>
