<template>
  <div>
    <p>
      Teste jetzt unsere hautfreundlichen Windeln und erhalte unsere
      Feuchttücher mit 99 % Wasser zu Größe 1 - 3 oder die Sensitiven
      Feuchttücher zu Größe 4 - 5.
    </p>
    <ul>
      <li>Wir zahlen die Produkte, Du nur den Versand.</li>
      <li class="primary-color">
        Automatischer Übergang ins jederzeit kündbare Windel-Abo für
        49,50&nbsp;€ pro Lieferung.
      </li>
      <li>
        Preise inkl. MwSt., ggf. zzgl. Versandkosten
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {}
};
</script>

<style lang="scss" scope>
ul {
  margin-left: 1.1rem;
  padding-left: 0px;
}
.primary-color {
  color: #00afab;
}
</style>
