<template>
  <div class="row">
    <div v-for="item in items" v-bind:key="item.title" class="col-md box">
      <Picture :src="item.icon" height="70px" class="mb-3" />
      <h4>{{ item.title }}</h4>
      <p>{{ item.text }}</p>
    </div>
  </div>
</template>

<script>
import Picture from "./Image";
export default {
  props: {
    items: Array
  },
  components: {
    Picture
  }
};
</script>

<style lang="scss" scoped>
p {
  font-size: 0.938rem;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
@include media-breakpoint-down(sm) {
  .box {
    padding: 1rem 5rem;
  }
}
</style>
