<template>
  <img :src="getImgUrl(src)" :height="height" />
</template>

<script>
export default {
  props: {
    src: String,
    height: String
  },
  methods: {
    getImgUrl(src) {
      return require("../assets/" + src);
    }
  }
};
</script>
