<template>
  <div id="app">
    <section class="col bright">
      <div class="row">
        <div class="col-md px-5">
          <div class="oekotex-wrapper">
            <img
              class="oekotex"
              src="https://www.lillydoo.com/bundles/lepweb/img/certificates/oekotex/diapers/oekotex_green_de.svg"
            />
          </div>
          <Picture :src="activeProduct.src" />
        </div>
        <div class="col-md px-5">
          <h2>Entdecke unsere Hautfreundlichkeit</h2>
          <p class="">Wähle Deine Größe</p>
          <ButtonContainer
            :products="products"
            :setActiveProduct="setActiveProduct"
            :activeIndex="activeIndex"
          />
          <Details />
          <Button
            text="In denWarenkorb legen"
            invert="true"
            extraClass="my-5"
          />
        </div>
      </div>
    </section>
    <section class="col dark">
      <div class="row">
        <div class="columns text-center">
          <h2 class=" py-4">Wie es funktioniert</h2>
          <IconBox :items="icons" />
        </div>
      </div>
    </section>
    <section class="col">
      <div class=" text-center">
        <h2 class="text-center py-4">Dein Testpaket enthält</h2>
      </div>

      <BoxContent :wipes="activeProduct.wipes" />
    </section>
  </div>
</template>

<script>
import ButtonContainer from "./components/ButtonContainer.vue";
import Details from "./components/Details.vue";
import IconBox from "./components/IconBox.vue";
import Picture from "./components/Image.vue";
import BoxContent from "./components/BoxContent.vue";
import Button from "./components/Button.vue";
import products from "./data/products.json";
import icons from "./data/iconbox.json";

export default {
  name: "App",
  components: {
    ButtonContainer,
    Details,
    Picture,
    IconBox,
    BoxContent,
    Button
  },
  data: function() {
    return {
      products,
      icons,
      activeProduct: products[0],
      activeIndex: 0
    };
  },
  methods: {
    setActiveProduct(idx) {
      this.activeProduct = products[idx];
      this.activeIndex = idx;
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
h4 {
  font-family: cera_promedium, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.063rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
h2 {
  line-height: 1.2;
  text-transform: none;
  margin-bottom: 10px;
}
.dark {
  background: #f8f8f8;
}
section {
  padding: 1.25rem 0;
}

img {
  width: 100%;
}
.oekotex-wrapper {
  position: relative;
}
.oekotex {
  position: absolute;
  width: 24%;
  top: 10%;
  left: 5%;
  z-index: 10;
  box-shadow: -2px 2px 6px -3px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
</style>
